<div class="portfolio-item">
	<div class="image portfolio-content">
		<div class="picture-filler"></div>
	</div>
	<div class="description portfolio-content">
	<h3>CSC 210 Project</h3>
	<p>A web application built exclusively with the standard ruby language, sqlite3 and some AJAX. The concept was to create a web application that lets people </p>
	</div>
</div>
<div class="portfolio-item">
	<div class="image portfolio-content">
		<%= image_tag("travel_app_web.png", :size => "200x200", :alt => "travel app") %>
	</div>
	<div class="description portfolio-content">
		<h3>Concept Travel Application</h3>
		<p>text.</p>
	</div>
</div>
<div class="portfolio-item">
	<div class="image portfolio-content">
		<%= image_tag("UR Vocal Coach Icon.png", :size => "200x200", :alt => "vocal coach") %>
	</div>
	<div class="description portfolio-content">
	<h3>UR Vocal Coach</h3>
	<p>Text</p>
	</div>
</div>
<div class="portfolio-item">
	<div class="image portfolio-content">
		<div class="picture-filler"></div>
	</div>
	<div class="description portfolio-content">
	<h3>CSC 210 Project</h3>
	<p>A web application built exclusively with the standard ruby language, sqlite3 and some AJAX. The concept was to create a web application that lets people </p>
	</div>
</div>