<div class="portfolio-item">
	<div class="portfolio-image">
		<!--<img src="travel_app_web.png"></img>-->
		<%= image_tag("travel_app_web.png", :size => "200x200", :alt => "travel app") %>
	</div>
	<h3>CSC 210 Project</h3>
	<p>A web application built exclusively with the standard ruby language, sqlite3 and some AJAX. The concept was to create a web application that lets people </p>
</div>
<div class="portfolio-item">
	<h3>Concept Travel Application</h3>
	<p>text.</p>
</div>