@import url(http://fonts.googleapis.com/css?family=Vollkorn);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$grayLight: #dddddd;
$content-width: 960px;

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

/* universal */

html {
	overflow-y: scroll;
}

body {
	// padding-top: 60px;
	background-color: #ffffff;
	font-family: 'Open Sans', sans-serif;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

.center {
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}

/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
	color: #444;
	font-family: 'Vollkorn', serif;
}

h2 {
	font-size: 1.2em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: $grayLight;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
	color: #444;
}

/* navbar */

.navbar {
	padding: 30px 50px 30px 50px;
	min-width: $content-width;
	text-align: center;
	.navbar-title {
		display: inline-block;
		margin: 0 auto 0 auto;
		.picture-placeholder {
			display: inline-block;
			// width: 250px;
			// height: 250px;
			border-radius: 50%;
			background-color: #eaeaea;
			margin: 0 auto 0 auto;
		}
	}
	.container {
		width: $content-width;
		margin: 0 auto 0 auto;
		border-bottom: 2px solid #eaeaea;
		text-align: left;
		.nav {
			display: inline-block;
			padding: 0 0 5px 0; 
			margin: 0 auto 0 auto;
			.nav-item {
				display: inline-block;
				padding: 0 20px 0 0;
			}
		}
		.nav-right {
			display: inline-block;
			float: right;
			.nav-item {
				display: inline-block;
				padding: 0 0 0 20px;
			}
		}
	}
}

a {
	color: #444;
	&:hover {
		color: #ccc;
	}
}

.link-github {
	&:hover {
		color: #4183c4;
	}
}

.link-twitter {
	&:hover {
		color: #55acee;
	}
}

.link-linkedin {
	&:hover {
		color: #0976b4;
	}
}

/* content */

.content {
	width: $content-width;
	margin: 0 auto 0 auto;
	padding: 0px 50px 0 50px;
}

/* portfolio */

.picture-filler {
	width: 200px;
	height: 200px;
	background-color: #f0f0f0;
}

.portfolio-item {
	position: relative;
	margin: 0 0 50px 0;
	width: 100%;
	height: 200px;
	.portfolio-content {
		display: inline-block;
		float: left;
	}

	.description {
		// width: 500px;
		width: 73%;
		// height: 161px;
		margin: 0 0 0 50px;
	}

	.image {
		// display: inline-block;
		// box-shadow: 0px 0px 20px #aaa;
	}

	.links {
		position: absolute;
		width: 73%;
		margin: 0 0 0 50px;
		left: 200px;
		bottom: 0;
		> li {
			float: right;
			padding: 0 0 0 30px;
		}
	}

	.full-pictures {		
		display: none;
		z-index: 11;
		.pic {
			z-index: 15;
			display: none;
			// position: fixed;
			// height: 500px;
			// width: auto;
			img {
				z-index: 15;
				position: fixed;
				top: 6%;
				left: 50%;
				transform: translateY(-50%);
				transform: translateX(-50%);
				height: 90%;
				width: auto;
			}
		}
	}
}

.footer {
	width: 100%;
	margin: 200px 0 50px 0;
	text-align: center;
}

.pic-view-bg {
	display: none;
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
}


