<header class="navbar">
	<div class="navbar-title">
		<div class="picture-placeholder"></div>
		<h1>John Donner</h1>
	</div>
	<div class="main-navbar-inner">
		<div class="container">
			<div class="nav">
				<li class="nav-item"><%= link_to "Home",		root_path %></li>
				<li class="nav-item"><%= link_to "Portfolio",		portfolio_path %></li>
			</div>
			<div class="nav-right">
				<li class="nav-item"><%= link_to "Github",		"https://github.com/JohnBDonner", class: "link-github",  :target => "_blank" %></li>
				<li class="nav-item"><%= link_to "Twitter",		"https://twitter.com/JohnBDonner", class: "link-twitter", :target => "_blank" %></li>
			</div>
		</div>
	</div>
</header>