<header class="navbar">
	<div class="navbar-title">
		<div class="picture-placeholder"></div>
		<h1>John Donner</h1>
	</div>
	<div class="main-navbar-inner">
		<div class="container">
			<div class="nav">
				<li class="nav-item"><%= link_to "Home",		root_path %></li>
				<li class="nav-item"><%= link_to "Portfolio",		portfolio_path %></a></li>
				<li class="nav-item"><%= link_to "Connect",		connect_path %></li>
			</div>
		</div>
	</div>
</header>